body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  padding: 20px 0 20px 0;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

/* .container-fluid {
  background-color: purple;
} */

.nav-item :active {
  background-color: purple;
}

footer {
  padding-top: 20px;
  color: #616262;
}

